<footer class="footer">
<button class="conteiner">
  <a  href="#header">
    <img class="conteiner__arrow" src="./assets/images/ico-arrow.svg" alt="Flecha para arriba">
</a>
</button>
   <ul class="first">
    <li>
      <a class="first__list" href="https://adalab.es/" target="_blank" title="Be happy">articles</a>
    </li>
    <li>
      <a class="first__list" href="https://adalab.es/" target="_blank" title="Be happy">books</a>
    </li>
    <li>
      <a class="first__list" href="https://adalab.es/" target="_blank" title="Be happy">events</a>
    </li>
    <li>
      <a class="first__list" href="https://adalab.es/" target="_blank" title="Be happy">reasons</a>
    </li>
    <li>
      <a class="first__list" href="https://adalab.es/" target="_blank" title="Be happy">tips</a>
    </li>
   </ul>
 

 <ul class="second">
  <li>
    <a class="second__media" href="https://adalab.es/" target="_blank" title="Be happy">twitter</a>
  </li>
  <li>
    <a class="second__media" href="https://adalab.es/" target="_blank" title="Be happy">instagram</a>
  </li>
  <li>
    <a class="second__media" href="https://adalab.es/" target="_blank" title="Be happy">mastodon.social</a>
  </li>
 </ul>

 <div class="lastconteiner">
   <span class="copy">&copy;2022</span>
   
   <h6 class="components">
    we <span class="heart"> &#128151; </span> components
   </h6>
 </div>
</footer>