<footer class="footer">
<button class="conteiner">
  <a  href="#header">
    <img class="conteiner__arrow" src="./assets/images/ico-arrow.svg" alt="Flecha para arriba">
</a>
</button>
   <ul class="first">
    <li>
      <a class="first__list" href="https://adalab.es/" target="_blank">articles</a>
    </li>
    <li>
      <a class="first__list" href="https://adalab.es/" target="_blank">books</a>
    </li>
    <li>
      <a class="first__list" href="https://adalab.es/" target="_blank">events</a>
    </li>
    <li>
      <a class="first__list" href="https://adalab.es/" target="_blank">reasons</a>
    </li>
    <li>
      <a class="first__list" href="https://adalab.es/" target="_blank">tips</a>
    </li>
   </ul>
 

 <ul class="second">
  <li>
    <a class="second__media" href="https://adalab.es/" target="_blank">twitter</a>
  </li>
  <li>
    <a class="second__media" href="https://adalab.es/" target="_blank">instagram</a>
  </li>
  <li>
    <a class="second__media" href="https://adalab.es/" target="_blank">mastodon.social</a>
  </li>
 </ul>

 <div class="lastconteiner">
   <span class="copy">&copy;2022</span>
   
   <h6 class="components">
    we <span class="heart"> &#128151; </span> components
   </h6>
 </div>
</footer>




<!--<footer class="page__footer">
  <small>
    &copy; Todos los derechos reservados
    <include
      src="./link.html"
      aClass="link__adalab"
      text="Adalab"
      url="https://adalab.es"
    ></include>
  </small>
</footer>-->
