<header class="header">
  <nav>
    <a href="https://adalab.es/"><img class="image-menu" src="./assets/images/ico-menu.svg" alt="Rayas"></a>
  </nav>
  <section class="headersection">
    <h1
     class="headersection__h1">@@title
    </h1>
    <h3 class="headersection__h3">
      In hac habitasse platea dictumst.
    </h3>
    <img class="headersection__scroll" src="./assets/images/ico-scroll-down.svg" alt="flecha para abajo">
  </section>
 

</header>


<!-- <header class="page_header">
  <nav>
    <a href="https://adalab.es/"><img class="image-menu" src="./assets/images/ico-menu.svg" alt="Rayas"></a>
  </nav>
 <img class="header-cover" src="./assets/images/cover.jpeg" alt="El reflejo del sol en una edificio con cristalera"
    title="Enlace a Adalab">

    <div class="cover"></div>
    
      <div class="header-center">
        <h1
         class="title">@@title
        </h1>
        <h3 class="header-p">
          In hac habitasse platea dictumst.
        </h3>
      </div>

    

  
  
    <div class="header-scroll">
      <img src="./assets/images/ico-scroll-down.svg" alt="flecha para abajo">
    </div> 
  
  
</header>
--> 
