<header class="header">
  <nav class="image__menu">
    <a href="https://adalab.es/" target="_blank"><img class="image__menu--link" src="./assets/images/ico-menu.svg" alt="Rayas"></a>
  </nav>
    <section class="headersection">
      <h1
       class="headersection__h1">@@title
      </h1>
      <h3 class="headersection__h3">
        In hac habitasse platea dictumst.
      </h3>
      <img class="headersection__scroll" src="./assets/images/ico-scroll-down.svg" alt="flecha para abajo">
    </section> <!--AQUÍ HAY QUE PONERLE ENLACE A 3 REASONS TO PURCHASE-->
</header>