// fonts
$font-bold: 'Roboto Slab', serif;
$font-normal: 'Roboto', sans-serif;

// font-size
$size-mb-p: 18px;
$size-tablet-p: 20px;
$size-table-bold: 24px;
$size-table-title: 26px;
$size-pc-title: 32px;

// colors
$color-white: #ffffff;
$color-blue-menu: #0271bc;
$color-orange: #f26002;
$color-background-reasons: #eff9ff;
$color-background-footer: #304268;