* {
    text-decoration: none;
    list-style: none;
}

.conteiner {
    position: absolute;
    top: -30px;
    background-color: $color-white;
    border-color: transparent;
    padding: 18px 20px 13px 20px;
    border-radius: 50%; 
    animation-name: size;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.footer {
    background-color: $color-background-footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: $font-normal;
    padding-top: 35px;
    padding-bottom: 45px;
    line-height: 2.1;
    position: relative;
        @media screen and (min-width: 780px) {
           flex-direction: row; 
           justify-content: space-around;
           align-items: flex-start;
           text-align: justify;    
                
        }   
        @media screen and (min-width: 1200px) {
            justify-content: center;
            column-gap: 100px;
        }
}

.first {
   
   text-transform: uppercase;
    @media screen and (min-width: 780px) {
            order: 1
    }

    &__list {
        color: $color-white;
         
    }
}

.second {
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
        @media screen and (min-width: 780px){
            margin-top: -15px;
            order: 2;
        }
    &__media {
        color: $color-white;
    }
}

.lastconteiner {
        @media screen and (min-width: 780px) {
           order: 0;
        }
}
.copy {
    color: $color-white;
}
.components {
    color: $color-white
}

@keyframes size {
   100% {
    transform: rotate(360deg);
   }
}