@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
/*Consultar motivo de que @import "layout/pages"; diese error y no permitiría aplicar estilo. ¿es por qué está encima de layout header?*/
@import 'layout/_header';
@import 'layout/footer';

.sec1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: left;
    padding: 37px 15px 35px;
    margin-top: 25px;
    gap: 25px;
    

        &__insomnia {
            color: #8ccbea;
            font-family: $font-normal;
            font-size: 14px;
            line-height: 30px;
            text-transform: capitalize;
        }

        &__h2 {
        font-family: $font-bold;
        font-weight: 800;   
        font-size: 24px;
        text-transform: capitalize;
        line-height: 1.25;            
        }

        &__p {
            font-family: $font-normal;
            font-size: 18px;
            color: #4a4a4a;
            font-weight: bold;
            line-height: 1.67;
            letter-spacing: 0.50px;
        }
        
        &__go{

            &--inside {
                color: $color-orange;
                background-color: $color-white;
                font-family: $font-normal;
                font-size: 20px;
                font-weight: 600;
                border: solid 2px $color-orange;
                border-radius: 22.5px;
                width: 76px;
                height: 45px;
                @media screen and (min-width: 780px){
                    width: 91px;   
                }
                @media screen and (min-width: 1200px){
                    width: 160px;
                }

            }
        }

        }


.grid {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 50px;
    line-height: 1.5;
    justify-content: center;
    text-align: center;
    padding: 29px 15px 50px;
    background-color: $color-background-reasons;   
                @media screen and (min-width:780px){
                    grid-template-areas: 
                        "h2 h2 h2"
                        "art1 art2 atr3"
                        "button button button";
                }    
                
        &__h2 {
            grid-area: h2;
            font-family: $font-bold;
            font-size: 24px;
            font-weight: 800;
            text-transform: capitalize;
           
                @media screen and (min-width:780px){
                    margin-top: 36px;
                    font-size: 26px;
                }
                @media screen and (min-width:1200px){
                    margin-top: 61px;
                    font-size: 32px;
                }
        }
    
        &__art1 {
            grid-area: art1;
            &--h3 {
               
                font-family: $font-bold; 
                font-size: 18px;
                font-weight: 800; 
            }
            &--p { 
                font-family: $font-normal;
                font-size: 18px;
                font-weight: 600;
            }
            
        }

        &__art2 {
            grid-area: art2;
            &--h3 {
               
                font-family: $font-bold; 
                font-size: 18px;
                font-weight: 800; 
            }
            &--p { 
                font-family: $font-normal;
                font-size: 18px;
                font-weight: 600;
            } 
        }

        &__art3 {
            grid: art3;
            &--h3 {
               
                font-family: $font-bold; 
                font-size: 18px;
                font-weight: 800; 
            }
            &--p { 
                font-family: $font-normal;
                font-size: 18px;
                font-weight: 600;
            }  
        }
    }


.container {

    grid-area: button;
   
        &__button {
        width: 184px;
        height: 45px;
        color: $color-white;
        background-color: $color-orange;
        font-family: $font-normal;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        font-size: 20px;
        border-radius: 22.5px;
        border-color: transparent;
}
}