@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
/*Consultar motivo de que @import "layout/pages"; diese error y no permitiría aplicar estilo. ¿es por qué está encima de layout header?*/
@import 'layout/_header';
@import 'layout/footer';

.sec1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: left;
    padding: 37px 15px 35px;
    margin-top: 25px;

        &__insomnia {
            color: #8ccbea;
            font-size: 14px;
            text-transform: capitalize;
        }

        &__h2 {
        font-family: $font-bold;   
        font-size: 24px;
        text-transform: capitalize;
        line-height: 1.25;
        margin-top: 15px;
            
        }

        &__p {
            font-family: $font-normal;
            font-size: 18px;
            color: #4a4a4a;
            font-weight: bold;
            line-height: 1.67;
            letter-spacing: 0.50px;
        }

        &__go {
            font-family: $font-normal;
            font-size: 20px;
            font-weight: 600;
            color: $color-orange;
            border: solid 2px $color-orange;
            background-color: $color-white;
            width: 76px;
            height: 45px;
            border-radius: 22.5px;
                @media screen and (min-width: 480px){
                    width: 91px;   
                }
                @media screen and (min-width: 1200px){
                    width: 160px;
                }
        }
}
